body {
    font-family: Arial, sans-serif;
    background-color: #bad7ba;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 5px 0;
}

h1 {
    color: #333;
    font-family: Calistoga;
    font-size: 100px;
    src:url('Calistoga-Regular.ttf');
}

button {
    padding: 15px 20px;
    background-color: #5ab55a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


p {
    font-size: 25px;
}

button:hover {
    background-color: #4cae4c;
}
