body {
    font-family: Arial, sans-serif;
    background-color: #bad7ba;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 5px 0;
}

h1 {
    color: #333;
    position: relative;
    top: 40px;
    font-family: Calistoga;
    font-size: 100px;
    src:url('Calistoga-Regular.ttf');
}

button {
    padding: 15px 20px;
    background-color: #5ab55a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.file-selector {
    border: 3px solid #c8bdbd;
    background-color: #ffffff;
   
    margin-right: 250px;
    display: inline;
    padding: 11px 14px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
  
}


p {
    font-size: 30px;
    position: relative;
    bottom: 20px;
}

button:hover {
    background-color: #4cae4c;
    margin-bottom: 40%;

}

#submit {
    
    margin-left: 140px;
    margin-bottom: 20%;
    font-size: large;
    
}
